POSTGRES_USER=postgres
POSTGRES_PASSWORD=passwd
POSTGRES_DB=filesharing

# Available options: release, debug
GIN_MODE=release

# Allowed options for file expiration time (in days)
# Delimited with ", "
APP_ALLOWED_EXP_OPTIONS='1, 7, 30'

# Timeout for database operations (in seconds)
APP_DB_TIMEOUT=5

# Path to storage directory
# In this case relative to backend dir to make this more portable
APP_STORAGE_DIR='../storage'